@import "./app.scss";

.about {
  text-align: center;
  height: fit-content;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: flex-start;

  @media (max-width: 1000px) {
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
  }

  &__title {
    font-family: BuiltRG;
    color: $colour-4;
    font-size: 6vw;
    align-self: center;
    margin-top: 2rem;

    @media (max-width: 1000px) {
      font-size: 3rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
  }

  &__text {
    font-family: RobotoMD;
    color: $colour-3;
    font-size: 1.5vw;
    align-self: center;
    margin-top: 2rem;
    width: 80%;

    @media (max-width: 1000px) {
      font-size: 1.2rem;
    }

    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  &__urls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;

    @media (max-width: 1000px) {
      margin-top: 2.5rem;
    }

    &-icon {
      color: white;
      min-width: 3rem;
      height: auto;

      @media (max-width: 1000px) {
        min-width: 4rem;
      }

      @media (max-width: 600px) {
        min-width: 3.5rem;
      }

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &__profile {
    display: flex;
    flex-direction: center;
    align-content: center;
    margin: 10vw;

    @media (max-width: 1000px) {
      order: 2;
      align-self: center;
    }

    @media (max-width: 1000px) {
      margin: unset;
      margin-top: 1rem;
    }

    &-picture {
      border-radius: 50%;
      width: auto;
      height: 35vw;
      align-self: center;

      @media (max-width: 1000px) {
        width: auto;
        height: 25rem;
      }

      @media (max-width: 600px) {
        width: auto;
        height: 15rem;
      }
    }
  }
}
