@import "./fonts.scss";
@import "./animations.scss";

// Colours

$colour-1: #0b0c10;
$colour-2: #1f2833;
$colour-3: #c5c6c7;
$colour-4: #66fcf1;
$colour-5: #45a29e;

// Specific

.everything {
  text-align: center;
  background-image: repeating-linear-gradient($colour-2 100%, $colour-1 200%, $colour-2 300%);
  height: 500vh;
  display: flex;
  flex-direction: column;
  color: white;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.stefancooper {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  font-family: BuiltSB;
  font-size: 12vw;
  background-clip: text;
  background-image: linear-gradient(45deg, $colour-4, $colour-5);
  -webkit-text-fill-color: transparent;
}

.esportshub {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

.portfolio-position {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paperclicker {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  color: white;
  align-items: center;
  justify-content: space-between;
}

// General

.center {
  align-self: center;
}

// General Chevron stuff

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  cursor: pointer;
  color: white;
  margin: 0.5rem;
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.up:before {
  left: 0.25em;
  transform: rotate(-45deg);
}

.chevron.down:before {
  left: 0;
  transform: rotate(135deg);
}
