@import "./fonts.scss";

// Colours

$colour-1: #0b0c10;
$colour-2: #1f2833;
$colour-3: #c5c6c7;
$colour-4: #66fcf1;
$colour-5: #45a29e;

// Slick overrides

.slider {
  width: 80%;
  height: 20rem;
  margin: 5rem;

  @media (max-width: 1000px) {
    margin: unset;
    width: 80%;
    height: unset;
  }
}

.slick-center {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.slick-slide:not(.slick-current) {
  opacity: 0.4;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}

.slick-initialized .slick-slide.slick-active {
  z-index: 1;
}
