@import "./app.scss";

.experiences {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 1000px) {
    width: 90%;
    overflow: hidden;
    align-self: center;
    height: fit-content;
    min-height: 100vh;
  }

  &__title {
    font-family: BuiltRG;
    color: $colour-4;
    font-size: 6vw;

    @media (max-width: 1000px) {
      font-size: 3.5rem;
      margin: 2rem;
    }
  }

  &__collection {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__portfolios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;

    @media (max-width: 1000px) {
      height: 40rem;
      overflow: hidden;
    }
  }
}

.experience {
  width: 20vw;
  height: 10rem;
  align-self: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;

  @media (max-width: 1000px) {
    margin: 100rem;
    width: 20rem;
    height: unset;
  }

  &__images {
    margin-top: 2rem;
    height: 10rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1000px) {
      margin-top: unset;
      height: 8rem;
    }
  }

  &__image {
    max-width: 80%;
    height: auto;
    max-height: 90%;
  }

  &__text {
    color: $colour-3;
    font-size: 1vw;
    font-family: RobotoRG;
    width: 20vw;
    white-space: pre-wrap;

    @media (max-width: 1000px) {
      font-size: 1rem;
      width: 20rem;
    }
  }

  &__title {
    color: $colour-3;
    font-size: 1vw;
    font-family: RobotoBD;
    white-space: pre-wrap;

    @media (max-width: 1000px) {
      font-size: 1rem;
    }
  }
}
