@import "./app.scss";

.experiences {
  text-align: center;
  height: 110vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;

  @media (max-width: 1000px) {
    width: 90%;
    overflow: hidden;
    align-self: center;
    height: fit-content;
    min-height: 100vh;
    margin-top: 5rem;
  }

  &__title {
    font-family: BuiltRG;
    color: $colour-4;
    font-size: 4vw;

    @media (max-width: 1000px) {
      font-size: 3.5rem;
      margin: 2rem;
    }
  }

  &__collection {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__portfolios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;

    @media (max-width: 1000px) {
      height: 40rem;
      overflow: hidden;
    }
  }
}

.slider {
  width: 80%;
  height: 20rem;
  margin: 5rem;

  @media (max-width: 1000px) {
    margin: unset;
    width: 80%;
    height: unset;
  }
}

.experiences-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slick-center {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.slick-slide:not(.slick-current) {
  opacity: 0.4;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}

.experience-data {
  display: flex !important;
  flex-direction: row;
}

.experience-extra {
  width: 60% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // text-align: center;

  @media (max-width: 1000px) {
    width: 90% !important;
  }

  @media (max-width: 700px) {
    width: 0 !important;
    display: none;
    > * {
      display: none;
    }
  }
}

.experience-text {
  width: 60% !important;
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;

  @media (max-width: 1000px) {
    width: 90% !important;
  }

  @media (max-width: 700px) {
    width: 100% !important;
  }
}

.experience-image {
  margin-right: 1rem;
  width: 4rem !important;
  height: 4rem;
  color: white;

  &:hover {
    opacity: 0.75;
  }
  
}

.experience {
  width: 20vw;
  height: 10rem;
  align-self: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;

  @media (max-width: 1000px) {
    margin: 100rem;
    width: 20rem;
    height: unset;
  }

  &__images {
    height: 10rem;
    margin: 3rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;

    @media (max-width: 1000px) {
      margin-top: unset;
      height: 8rem;
      margin: unset;
      padding-right: 3rem;
      width: 100%;
    }
  }

  &__image {
    max-width: 80%;
    height: auto;
    max-height: 90%;
  }

  &__text {
    color: $colour-3;
    font-size: 1vw;
    font-family: RobotoRG;
    width: 20vw;
    white-space: pre-wrap;
    margin: 1rem;

    @media (max-width: 1000px) {
      font-size: 1rem;
      width: 20rem;
      padding-right: 3rem;
    }
  }

  &__title {
    color: $colour-3;
    font-size: 1vw;
    font-family: RobotoBD;
    white-space: pre-wrap;

    @media (max-width: 1000px) {
      font-size: 1rem;
    }
  }

  &__front {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    > * {
      margin: 0.5rem;
    }
  }

  &__tag {
    margin: 0.25rem;
  }
}
