@font-face {
  font-family: "BuiltSB";
  src: local("BuiltSB"), url("../fonts/built-titling-sb.ttf") format("truetype");
}

@font-face {
  font-family: "BuiltRG";
  src: local("BuiltRG"), url("../fonts/built-titling-rg.ttf") format("truetype");
}

@font-face {
  font-family: "BuiltLT";
  src: local("BuiltLT"), url("../fonts/built-titling-lt.ttf") format("truetype");
}

@font-face {
  font-family: "ArcaMajora3-Bold";
  src: local("ArcaMajora3-Bold"), url("../fonts/ArcaMajora3-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ArcaMajora3-Heavy";
  src: local("ArcaMajora3-Heavy"), url("../fonts/ArcaMajora3-Heavy.ttf") format("truetype");
}
