@import "./app.scss";

.rtl {
  direction: rtl;
}

.portfolio {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__title {
    font-family: BuiltRG;
    color: $colour-4;
    font-size: 10vw;

    @media (max-width: 1000px) {
      font-size: 5rem;
      align-self: center;
    }
  }

  &__subtext {
    font-family: BuiltRG;
    color: $colour-3;
    font-size: 3vw;

    @media (max-width: 1000px) {
      font-size: 2rem;
      align-self: center;
    }
  }

  &__tert {
    font-family: BuiltLT;
    color: $colour-5;
    font-size: 2.75vw;

    @media (max-width: 1000px) {
      font-size: 1.5rem;
      align-self: center;
      margin: 1rem;
    }
  }

  &__links {
    margin-top: 1rem;

    @media (max-width: 1000px) {
      // font-size: 2rem;
      align-self: center;
    }
    &__image {
      margin-right: 0.5rem;
      width: 4rem !important;
      height: 4rem;
      color: white;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
