// Colours

$colour-1: #0B0C10;
$colour-2: #1F2833;
$colour-3: #C5C6C7;
$colour-4: #66FCF1;
$colour-5: #45A29E;

.everything {
  text-align: center;
  background-image: repeating-linear-gradient($colour-2 100%, $colour-1 200%, $colour-2 300%);
  height: 300vh;
  display: flex;
  flex-direction: column;
  color: white;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.stefancooper {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.paperclicker{
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-end;
  justify-content: center;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@font-face {
  font-family: 'BuiltSB';
  src: local('BuiltSB'), url('./fonts/built-titling-sb.ttf') format('truetype');
}

@font-face {
  font-family: 'BuiltRG';
  src: local('BuiltRG'), url('./fonts/built-titling-rg.ttf') format('truetype');
}

@font-face {
  font-family: 'BuiltLT';
  src: local('BuiltLT'), url('./fonts/built-titling-lt.ttf') format('truetype');
}

.title {
  font-family: BuiltSB;
  color: $colour-4;
  font-size: 20vh;
}

.esportshub {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

.portfolio-1-text {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.portfolio-1-title {
  font-family: BuiltRG;
  color: $colour-4;
  font-size: 20vh;
}

.portfolio-1-sub {
  font-family: BuiltRG;
  color: $colour-3;
  font-size: 5.5vh;
}

.portfolio-1-tert {
  font-family: BuiltLT;
  color: $colour-5;
  font-size: 5vh;
}

.portfolio-1-images-div {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 45%;
}

.portfolio-1-images {
  align-self: center;
  width: 90%;
  height: auto;
  margin: 0.5rem;
}

.portfolio-2-title {
  font-family: BuiltRG;
  margin-right: 5%;
  color: $colour-4;
  font-size: 20vh;
}

.portfolio-2-sub {
  font-family: BuiltRG;
  margin-right: 5%;
  color: $colour-3;
  font-size: 5.5vh;
}

.portfolio-2-tert {
  font-family: BuiltLT;
  margin-right: 5%;
  color: $colour-5;
  font-size: 5vh;
}

.center {
  align-self: center;
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  cursor: pointer;
  color: white;
  margin: 0.5rem;
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.up:before {
  left: 0.25em;
  transform: rotate(-45deg);
}

.chevron.down:before {
  left: 0;
  transform: rotate(135deg);
}
