// Colours

$colour-1: #0B0C10;
$colour-2: #1F2833;
$colour-3: #C5C6C7;
$colour-4: #66FCF1;
$colour-5: #45A29E;

.everything {
  text-align: center;
  background-image: repeating-linear-gradient($colour-2 100%, $colour-1 200%, $colour-2 300%);
  height: 500vh;
  display: flex;
  flex-direction: column;
  color: white;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.stefancooper {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@font-face {
  font-family: 'BuiltSB';
  src: local('BuiltSB'), url('./fonts/built-titling-sb.ttf') format('truetype');
}

@font-face {
  font-family: 'BuiltRG';
  src: local('BuiltRG'), url('./fonts/built-titling-rg.ttf') format('truetype');
}

@font-face {
  font-family: 'BuiltLT';
  src: local('BuiltLT'), url('./fonts/built-titling-lt.ttf') format('truetype');
}

@font-face {
  font-family: 'ArcaMajora3-Bold';
  src: local('ArcaMajora3-Bold'), url('./fonts/ArcaMajora3-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ArcaMajora3-Heavy';
  src: local('ArcaMajora3-Heavy'), url('./fonts/ArcaMajora3-Heavy.ttf') format('truetype');
}

.title {
  font-family: BuiltSB;
  color: $colour-4;
  font-size: 20vh;
}

.esportshub {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

.portfolio-1-text {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.portfolio-1-title {
  font-family: BuiltRG;
  color: $colour-4;
  font-size: 10vw;
}

.portfolio-1-sub {
  font-family: BuiltRG;
  color: $colour-3;
  font-size: 3vw;
}

.portfolio-1-tert {
  font-family: BuiltLT;
  color: $colour-5;
  font-size: 2.75vw;
}

.portfolio-1-links {
  margin-top: 1rem;
}

.portfolio-1-links-pics {
  margin: 0.5rem;
  filter: brightness(0.85);
}

.portfolio-1-images-div {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 45%;
}

.portfolio-1-images {
  align-self: center;
  width: 90%;
  height: auto;
  margin: 0.5rem;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,1);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,1);
}

.paperclicker{
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.portfolio-2-text {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.portfolio-2-images-div {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 45%;
}

.portfolio-2-title {
  font-family: BuiltRG;
  color: $colour-4;
  font-size: 10vw;
  align-self: flex-end;
}

.portfolio-2-sub {
  font-family: BuiltRG;
  color: $colour-3;
  font-size: 3vw;
  align-self: flex-end;
}

.portfolio-2-tert {
  font-family: BuiltLT;
  color: $colour-5;
  font-size: 2.75vw;
  align-self: flex-end;
}

.portfolio-2-links {
  margin-top: 1rem;
  align-self: flex-end;
}

.portfolio-2-links-pics {
  margin: 0.5rem;
  filter: brightness(0.85);
}

.otherProjects {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.otherProjects-collection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  //margin-top: 1vh;
}

.otherProjects-ibm {
  width: 20vw;
  height: 10vw;
  align-self: center;
}

.otherProjects-uh {
  width: 20vw;
  height: 10vw;
  align-self: center;
}

.otherProjects-hertsgg {
  width: 20vw;
  height: 10vw;
  align-self: center;
}

.ibm {
  width: auto;
  height: 55%;
  margin-top: 10%;
}

.uh {
  width: auto;
  height: 35%;
  margin-top: 15%;
}

.hertsgg {
  width: 45%;
  height: auto;
}

.otherProjects-title {
  font-family: BuiltRG;
  color: $colour-4;
  font-size: 6vw;
}

.otherProjects-content-title {
  color: $colour-3;
  font-size: 1vw;
  font-family: ArcaMajora3-Heavy;
  white-space: pre-wrap;
}

.otherProjects-content {
  color: $colour-3;
  font-size: 1vw;
  font-family: ArcaMajora3-Bold;
  width: 20vw;
  white-space: pre-wrap;
}

.about {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: flex-start;
}

.about-title {
  font-family: BuiltRG;
  color: $colour-4;
  font-size: 6vw;
  align-self: center;
  margin-top: 2rem;
}

.about-text {
  font-family: ArcaMajora3-Bold;
  color: $colour-3;
  font-size: 1.5vw;
  align-self: center;
  margin-top: 2rem;
  width: 80%;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

.urls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.github {
  width: 8vh;
  height: 8vh;
  cursor: pointer;
  filter: brightness(0.9);
}

.github:hover {
  filter: brightness(0.8);
}

.twitter {
  width: 8vh;
  height: 8vh;
  cursor: pointer;
  filter: brightness(0.9);
}

.twitter:hover {
  filter: brightness(0.8);
}

.pic-content {
  display: flex;
  flex-direction: center;
  align-content: center;
  margin: 10vw;
}

.pic {
  border-radius: 50%;
  width: auto;
  height: 35vw;
  align-self: center;
}

.center {
  align-self: center;
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  cursor: pointer;
  color: white;
  margin: 0.5rem;
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.up:before {
  left: 0.25em;
  transform: rotate(-45deg);
}

.chevron.down:before {
  left: 0;
  transform: rotate(135deg);
}

.fade-in {
  animation: fadeIn ease 0.45s;
  -webkit-animation: fadeIn ease 0.45s;
  -moz-animation: fadeIn ease 0.45s;
  -o-animation: fadeIn ease 0.45s;
  -ms-animation: fadeIn ease 0.45s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }